h1{
	font-size: 40px;
	background: #ccc;
	line-height: 200%;
}
h2{
	font-size: 30px;
	border-bottom: 1px solid #ccc;
}

h3{
	font-size: 24px;
}

.contiene-carousel{
	position:relative;
}

.carousel-custom{
	min-height: 512px;
	position:relative;
}

.carousel-item{
	position:relative;
}

.carousel-item .label{
	position:absolute;
	padding: 5px;
	color: #fff;
	background: rgba(0,0,0,0.6);
	bottom: 5%;
	left: 5%;
	z-index: 10000;
	display: inline-block;
	
}



.fa-angle-right, 
.fa-angle-left {
    position: absolute;
    top: 35%;
    z-index: 99999;
    display: block;
    opacity: 0.5;
    cursor: pointer;
}

.fa-angle-right img, 
.fa-angle-left img {
    /*width: 37px;*/
    height: 131px;
}

p{padding: 10px;}
ul.listado{list-style-type: circle !important;}


@media screen and (min-width: 989px){
	.fa-angle-right {
		 right: 30px;
	}
	.fa-angle-left {
		 left: 30px;
	}
}

@media screen and (max-width: 768px){
	
	.carousel-custom{
		min-height: 0;
		max-height: 300px;
	}
	
	.carousel-item .label{
		position:static;
		background: rgba(0,0,0,0.8);
		display:block;
	}
	
	.fa-angle-right, .fa-angle-left {
		 
		 width: 30px;
		 overflow: hidden;
	}
	
	
	
	.fa-angle-right img, 
	.fa-angle-left img {
		 width: 50%;
		 height: 50%;
	}
	
	.fa-angle-right {
		 right: 10px;
	}
	.fa-angle-left {
		 left: 20px;
	}
	
	
}






@media screen and (max-width:480px){
	h1{
		line-height: 120%;
	}
	.carousel-custom{
		min-height: 0;
		max-height: 180px;
	}
	
	.carousel-item .label{
		position:static;
		background: rgba(0,0,0,0.8);
		display:block;
	}
}