.contiene-carousel{
	position:relative;
}

.carousel-custom{
	min-height: 512px;
	position:relative;
}


.fa-angle-right, 
.fa-angle-left {
    position: absolute;
    top: 50%;
    z-index: 99999;
    display: block;
    opacity: 0.5;
    cursor: pointer;
}

.fa-angle-right img, 
.fa-angle-left img {
    width: 37px;
    height: 131px;
}


@media screen and (min-width: 989px){
	.fa-angle-right {
		 right: -50px;
	}
	.fa-angle-left {
		 left: -50px;
	}
}

@media screen and (max-width: 768px){
	.fa-angle-right, .fa-angle-left {
		 opacity: 0.3;
		 width: 20px;
		 overflow: hidden;
	}
	
	.fa-angle-right {
		 right: -16px;
	}
	
	.fa-angle-right img, .fa-angle-left img {
		 width: 50%;
		 height: 50%;
	}
	
	.fa-angle-left {
		 left: -10px;
	}
	
}






@media screen and (max-width:480px){
	.carousel-custom{
		min-height: none;
	}
}